body {
  background-color: rgb(239, 238, 237);
}

main {
  display: flex;
  justify-content: center;
  justify-content: space-around;
}

#header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-decoration: underline;
}

#form {
    display: flex;
    flex-direction: column;
    vertical-align: center;
    border-style: double;
}

.form-group {
    display: flex;
    justify-content: flex-start;
    align-items: left;
    vertical-align: center;
    padding: 4px;
}

label {
    margin-right: 4px;
    vertical-align: baseline;
}

#title #author #read {
    vertical-align: top;
    margin: 2px;
}

#library {
    text-align: center;
}

#submitBtn {
    margin-top: 2px;
    border-style: groove;
}

